
$padding-right:1131px;

.immagine{
    width: 75px;
    padding-right: $padding-right;
}

$margin:0px;

body{
    margin:$margin;
    
}

nav{
    display: flex;
    background-color: black;
    
     
}



a{
    padding-right: 20px;
    
}



$contenitore:30px;

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:darkcyan ;
    margin-bottom: $contenitore;
}

$value:200px;

.riduzione{
    width:$value ;
    display: flex;
    align-self: center;

}

.paragrafo{
    margin: 0px;
    width: 200px;
}


$margin-bottom:20px;

#accentrare{
    display: flex;
    align-self: center;
    margin-bottom: $margin-bottom;
}

.contenitore{
    display: flex;
    flex-wrap: wrap;
   
    align-items: flex-start;
    width: 758px;
    margin-left: 403px;
}

$dimensione:208px;


#dimensione{
    width: $dimensione;
}








@import "Sass/mixins";
@import "Sass/bottoni";
@import "Sass/Reset";


